<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" ng-click="back()"></a>
    <h1 class="mui-title">修改密码</h1>
</header>
<div class="mui-content">
    <div class="mui-input-group">
        <div class="mui-input-row">
            <label>旧密码</label>
            <input type="password" placeholder="输入旧密码" ng-model="pass">
        </div>
        <div class="mui-input-row">
            <label>新密码</label>
            <input type="password" placeholder="输入新密码" ng-model="pass1">
        </div>
        <div class="mui-input-row">
            <label>确认密码</label>
            <input type="password" placeholder="确认新密码" ng-model="pass2">
        </div>
        <div class="mui-button-row">
            <button type="button" class="mui-btn mui-btn-primary" ng-click="submit()">确认</button>&nbsp;&nbsp;
            <button type="button" class="mui-btn mui-btn-danger" ng-click="back()">取消</button>
        </div>
    </div>
</div>